name: teste trademate

on:
  workflow_dispatch:
  
jobs:
  validade-voice:
    strategy:
      matrix:
        machine: ${{ fromJson(vars.machines) }}
    uses: daviolivas/teste-matrix-reusable/.github/workflows/matrix-reusable.yml@main
    with:
      machine_name: ${{ matrix.machine }}
    secrets: inherit

  getting-status:
    name: Getting Status
    strategy:
      matrix:
        machine: [ubuntu-24.04, ubuntu-22.04, ubuntu-20.04]
    runs-on: ${{ matrix.machine }}

    steps:
    - name:
      run: |
        echo "${{ matrix.machine }}" >> $GITHUB_SUMMARY


  check-status:
    name: Checking Status
    runs-on: [ubuntu-24.04]

    steps:
    - name:
      run: |
        echo "oi rs"